@using MyServiceBus.Persistence.Server
@model dynamic

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="PartialScripts"></partial>
    <title>@(typeof(ServiceLocator).Assembly.GetName().Version) MyServiceBus-Persistence</title>
</head>
<body>
</body>
</html>
