@using MyServiceBus.Persistence.Server
@model dynamic

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="PartialScripts"></partial>
    <title>@ServiceLocator.AppVersion.Value</title>
</head>
<body>
</body>
</html>
